<footer class="page-footer footer black ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12 center">
        <h5 class="white-text">Big Mouth Frog Development</h5>
          <%= render "shared/social_icons" %>
        </div>
      <div class="col l4 offset-l2 s12 center">
        <h5 id="contact_info">Contact Us</h5>
        <ul>
          <li class="grey-text text-lighten-3 ci-text">770 E Main St #385</li>
          <li class="grey-text text-lighten-3 ci-text">Lehi, UT 84043</li>
          <li class="grey-text text-lighten-3 ci-text">801-660-4411</li>
          <li class="grey-text text-lighten-3 ci-text">
            <a class="email" href="mailto:websites@bigmouthfrogdev.com?">websites@bigmouthfrogdev.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="white-text center" id="copyright-line"><%= @copyright %></p>
    <a class="grey-text text-lighten-4 right" href="#!">Back to Top</a>
    </div>
  </div>
</footer>
