<div class="collapsible-header">
	<div class="mission-words row name-bar">
		<h4 class="col m6">Aaron Anderson</h4>
  	<h4 class="col m6">Software Developer</h4>
	</div>
</div>

	<div class="row frogpad-bar collapsible-body">
		<div class="col m1"></div>
		<div class="col m6">
			<%= image_tag "mranderson.jpg", class: "pics"%>
		</div>

		<div class="col m3">
	    <div class="aaron-row"></div>
			<p class="bios card-panel"> I first gained my appreciation for software developing while in high school. One of the coolest things that I ever did was programming robots using C++. Now I enjoy fixing bugs and merge conflicts.</p>
		</div>
	</div>
