<div class="collapsible-header col m12">
  <div class="mission-words row name-bar">
    <h4 class="col m6">Daniel Coley</h4>
    <h4 class="col m6">Front end developer</h4>
	</div>
</div>

<div class="row frogpad-bar collapsible-body" title="lilly-pad-with-water">
  <div class="col m2"></div>
  <div class="col m5">
    <%= image_tag "dantheman.jpg", alt: "Big-Mouth-Frog-Daniel-Coley", class: "pics"%>
  </div>

  <div class="col m3">
    <div class="dan-row"></div>
    <p class="bios card-panel">I am passionate about creating and building things, that's why I love coding! It is pure creation to start with nothing but an idea and turn it into a program that influences the world. My passion is helping businesses grow and new developers gain meaningful experience.</p>
  </div>
</div>
