<div class="collapsible-header">
	<div class="mission-words row name-bar">
		<h4 class="col m6">Sara Coley</h4>
    <h4 class="col m6">Front end developer</h4>
	</div>
</div>



<div class="row frogpad-bar collapsible-body" title="lilly-pad-with-water">
	<div class="col m2"></div>
	<div class="col m5">
		<%= image_tag "sara.jpg", alt: "Big-Mouth-Frog-Sara-Coley", class: "pics"%>
	</div>

	<div class="col m3">
		<div class="sara-row"></div>
		<p class="bios card-panel">I help you make your site everything you dreamed of, from fonts to eye-catching displays. I’ll work with you directly to design your site into something that fits you and your company.</p>
	</div>
</div>
