<% content_for :title, "Portfolio, Featured Clients" %>
<% content_for :description, "Visit our featured clients on our portfolio!" %>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="portfolio-background" title="lilly-pad-with-water-droplets">
  <div class="container featured-content">
    <div class="row client">
      <div class="col s12 m3"></div>
      <div  class="col s12 m6"><%= render 'featured_adams' %></div>
      <div class="col s12 m3"></div>
    </div>
    <div class="row client">
      <div class="col s12 m3"></div>
      <div  class="col s12 m6"><%= render 'featured_xander' %></div>
      <div class="col s12 m3"></div>
    </div>
  </div>
</div>
