@import "materialize";

.medium {
  padding-top: 1%;
}
#portfolio-background {
  background-image: image-url('lilydrip.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
